
/********INDEX********/


body {
	background: url('giphy.gif') no-repeat center center fixed; 
 	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	color: #faebd7;	
	text-decoration: none;	
}
a {

	text-decoration: none;
}

@font-face {
    font-family: 'Anurati-Regular';
    src: url('Anurati-Regular.otf');

}

h1 {
	text-align: center;
	margin-top:  3em;
	text-shadow: 6px 6px #D41A1F;
	font-family: 'Anurati-Regular';
	font-size: 3.5em;
}

h2 {
	font-family: 'Lato', sans-serif;
	text-align: center;
	margin-top:  1.3em;
	font-size: 2em;
	text-shadow: 8px 8px black;
	font-weight:  bold;
	color: #faebd7;
}


/*********NAVBAR**********/


#homeul {
    
    margin: 0 auto;
    text-align: center;
    text-decoration: none;
    background-color: #67BCDB;
    font-family: 'Lato', sans-serif;
    background-color: rgba(70,0,0,0.26);  
    color: #D41A1F;	

}

li.li {
    
    display: inline-block;
    font-size: 3em;
    padding-left: 40px;
    padding-right: 70px;
    text-decoration:  none;

}

li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    
}

li a:hover {
    background-color: black;
    color: #D41A1F;
}


/*******SOCIAL MEDIA/FOOTER*********/


#fbicon {
	display: inline-block;
	width:  5em;
}

#twittericon {
	display: inline-block;
	width:  5em;
	padding-left:  2em;
}

#ghicon {
	display: inline-block;
	width:  5em;
	padding-left:  2em;
}

#pinteresticon {
	display: inline-block;
	width:  5em;
	padding-left:  2em;
}

footer {
	
   text-align: center; 
   padding: 10px;
   margin-top:  8em;
   font-family: 'Lato', sans-serif;
   font-size: 0.8em;
   clear: left;
   clear: right;

 }


/********BIO*********/


#bioData {
	width: 40em;
	font-family: 'Lato', sans-serif;
	font-weight:  bold;
	
}

.pbio {
	padding-left: 3em;
	float:  left;
}

#pete {
	
	border: 3px solid black;
	height: 32em;
	width:  25em;
	position:  relative;
	top: -2em;
	left: 20em;
	opacity: 0.7;
	margin-bottom: -6em;
	
}

#links {
	padding-left: 3em;
	clear: left;
	clear: right;
	
	font-family: 'Anurati-Regular', 'Lato', sans-serif; ;
}

/*********PROJECTS*********/


#projects {
		font-family: 'Lato', sans-serif;
		text-align: center;
}

#content {
	font-family: 'Lato', sans-serif;
		text-align: center;
}

